{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="m_1em">
            Vous êtes connecté en tant que <strong>{{ app.user.pseudo }}</strong> (<em>{{ app.user.email }}</em>) | <a href="{{ path('app_logout') }}">Me déconnecter</a>
        </div>
    {% else %}
        <h1 class="display-3">Connexion</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="flexline">
                <label for="inputEmail">Pseudo ou Email</label>
                <input type="text" value="{{ last_username }}" name="identifier" id="inputEmail" class="form-control" required
                       autofocus>
            </div>
            <div class="flexline"><label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div class="flexline flexspaceeven">
                <button class="btn btn-success" type="submit">
                    CONNEXION
                </button>
                {% include('inc/backbutton.html.twig') %}
                <a href="{{ path('app_register') }}"><button type="button" class="btn btn-primary">S'inscrire</button></a>
            </div>

        </form>
    {% endif %}
{% endblock %}
